/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include img-display(10px, 100%);
    max-height: 100%;
  }
  &-frame {
    @include img-display(10px, 100%);
    padding: 13px;
    border: 1px solid #ccc;
  }
  &-logo {
    @include img-display;
  }
}
